@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #E0E2DB;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.6);
          box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.6);
}

.todo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  width: 100%;
  max-width: 600px;
}

.todo-header__title {
  font-size: 60px;
  padding: 20px 30px;
  letter-spacing: 1rem;
  color: #191716;
}

.todo-header__input {
  width: 100%;
  padding: 20px 50px;
  border: none;
  border-radius: 5px 5px 0 0;
  font-size: 25px;
  color: #191716;
}

.todo-header__input:focus {
  outline: none;
}

.todo-list {
  width: 600px;
}

.todo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 100%;
  padding: 0 20px;
  border-top: 1px solid #BEB7A4;
  background-color: #ffffff;
}

.todo-item label {
  width: 100%;
  height: 100%;
  margin: 0 10px;
  padding: 15px 20px;
  text-align: center;
}

.todo-item label:focus {
  outline: none;
  background-color: #eeeeee;
}

.todo-checkbox {
  width: 15px;
  height: 15px;
}

.completed {
  text-decoration: line-through;
  color: #cccccc;
}

.main {
  position: relative;
}

.checkAll {
  position: absolute;
  top: -44px;
  left: 17px;
  width: 20px;
  height: 20px;
}

.footer {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  padding: 10px 20px;
  width: 100%;
  max-width: 600px;
  border-radius: 0 0 5px 5px;
  border-top: 2px solid #BEB7A4;
  background-color: #FFFDF7;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.filter-link {
  text-decoration: none;
  padding: 2px 10px;
  color: #2B3D41;
}

.filter-link--active {
  color: #8C271E;
  border: 1px solid #8C271E;
  border-radius: 5px;
}

.fa-times {
  font-size: 25px;
  color: #2B3D41;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.fa-times:hover {
  cursor: pointer;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
/*# sourceMappingURL=style.css.map */